div{
    background-color: blue;
    background-image: url('https://cdn.pixabay.com/photo/2023/06/11/16/06/switzerland-8056378_640.jpg');
    background-repeat: no-repeat;
    background-size: 20%;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 29%;
    background-position: top center;
    background-position: top right;
    background-position: center right;
    background-position: bottom right;
    background-position: bottom center;
    background-position: left bottom;
    background-position: left center;
    background-position: top left;
    background-position: center;

    background-attachment: fixed;
    background-attachment: scroll;

}