div{
    border: 2px solid;
    height: 150px;
    width: 150px;
    animation-name: blackbox;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

div:hover{
    transition-duration: 5s;
    transform: translateX(200px);
}

@keyframes blackbox {
    0%{background-color: red;}
    10%{background-color: black;}
    20%{background-color: green;}
    50%{background-color: yellow;
        transform: translateX(200px) rotate(4000deg);
    }
    60%{background-color: darkslateblue;}
    70%{background-color: aqua;}
    100%{background-color: hotpink;}
}