div>h1:first-child{
    background-color: red;
}
div>h2:last-child{
    background-color: green;
}
div>h3:first-of-type{
    background-color: crimson;
}
div>h3:last-of-type{
    background-color: aqua;
}
div>h1:nth-of-type(3){
    background-color: indigo;
}
div>h1:nth-child(7){
    background-color: brown;
}

div>h1:nth-child(odd){
    background-color: blueviolet;
}
div>h2:nth-child(even){
    background-color: chartreuse;
}