div{
    border: 2px solid;
    height: 100px;
    width: 100px;
    margin-left: 50%;
    margin-top: 20%;
}

div:hover{
    background-color: aqua;
    transform: translateX(-100px);
    transition-duration: 5s;
    transform: translateY(-100px);
    transform: translate(200px, 200px);
    transform: rotate(2600deg);
    transform: rotateX(3600deg);
    transform: rotateY(3600deg);
    transform: scale(2,3);
    transform: scaleX(-2);
    transform: scaleY(-2);
    transform: skew(20deg, 30deg);
    transform: skewX(20deg);
    transform: skewY(20deg);
    transform: translateX(200px) rotate(3600deg);
    /* transform: matrix(2,1,1,1,1,2); */
    transform: matrix(2,3,4,9,11,100);
    /* transition-delay: 2s; */
}