<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carousel 3D Image Slider</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="slider">
        <span style="--i:1"><img src="./assets/images/autumn-forest-2254533_1920.jpg" alt=""></span>
        <span style="--i:2"><img src="./assets/images/boat-4899802_1920.jpg" alt=""></span>
        <span style="--i:3"><img src="./assets/images/fall-3193305_1920.jpg" alt=""></span>
        <span style="--i:4"><img src="./assets/images/forest-4561344_1920.jpg" alt=""></span>
        <span style="--i:5"><img src="./assets/images/forest-8684668_1920.jpg" alt=""></span>
        <span style="--i:6"><img src="./assets/images/lake-5000642_1920.jpg" alt=""></span>
        <span style="--i:7"><img src="./assets/images/lake-7020123_1920.jpg" alt=""></span>
        <span style="--i:8"><img src="./assets/images/landscape-5546444_1920.jpg" alt=""></span>
    </div>
</body>
</html>