<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <div class="carousel-container">
        <div class="photos-container">
            <div class="photo-container">
                <img id="photo-1"
                    src="./images/g3af1cf6d6dc95380e40e0914afc748bd55d542d55f54932e13e5edea9d7f560aa3f85335d550b0823733e7c3af36d045ebca020c016a2f65c0555a3e03563e2c_1280.jpg"
                    alt="">
            </div>
            <div class="photo-container">
                <img id="photo-2"
                    src="./images/g3e98d0cca3c153bd8807a7f9d39c7727c1cb517e66498944d740c115cc58a46882fa63d1fe9fdec33a82c7d89ecd074c_1280.jpg"
                    alt="">
            </div>
            <div class="photo-container">
                <img id="photo-3"
                    src="./images/g4c4e5c683eb9f39f858490929a891d74902b165678600272ad4485716f65d7bf020a9993a0d5ef7462a759a6562db73ba7d47c6b5721e878467a887cf1fa5821_1280.jpg"
                    alt="">
            </div>
            <div class="photo-container">
                <img id="photo-4"
                    src="./images/g4cc5f767333b982cb67012becbf88ada028dfddc1d18351d46c645810123760b7ce7c72347d5ee3fa0ce73b862f1e82aa252bb041fe94ab4b36792d07d5eb6f6_1280.jpg"
                    alt="">
            </div>
            <div class="photo-container">
                <img id="photo-5"
                    src="./images/g4f565303991e1e2e06c3fa8e2b7190d2232f1fd42fee906686c62d0dffca8d86d8bc803d2ec6dfde4de5485d55614ae9add099ac3770587db67ce9c1ac225590_1280.jpg"
                    alt="">
            </div>
        </div>
        <div class="buttons-container">
            <a class="button" href="#photo-1"></a>
            <a class="button" href="#photo-2"></a>
            <a class="button" href="#photo-3"></a>
            <a class="button" href="#photo-4"></a>
            <a class="button" href="#photo-5"></a>
        </div>
    </div>
</body>

</html>