p{
    font-size: 40px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-style: oblique;
    font-style: normal;
    font-variant: small-caps;
    font-variant: normal;
}