<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carousel With Input</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div id="parent">

    <input type="radio" name="slide" id="input-1" checked>
    <input type="radio" name="slide" id="input-2">
    <input type="radio" name="slide" id="input-3">
    <input type="radio" name="slide" id="input-4">
    <div id="child">
      <div id="ch-1" class="g-child">
        <!-- <h1>GRAND CHILD ONE</h1> -->
        <img src="./images/background-3390802_1920.jpg" alt="">
      </div>
      <div id="ch-2" class="g-child">
        <!-- <h1>GRAND CHILD TWO</h1> -->
        <img src="./images/fantasy-3664586_1920.jpg" alt="">
      </div>
      <div id="ch-3" class="g-child">
        <!-- <h1>GRAND CHILD THREE</h1> -->
        <img src="./images/forest-4068763_1920.jpg" alt="">
      </div>
      <div id="ch-4" class="g-child">
        <!-- <h1>GRAND CHILD FOUR</h1> -->
        <img src="./images/lake-7754160_1920.jpg" alt="">
      </div>
      <div class="g-child">
        <!-- <h1>GRAND CHILD ONE</h1> -->
        <img src="./images/background-3390802_1920.jpg" alt="">
      </div>
    </div>
    <div id="labels">
      <label id="label-1" for="input-1"></label>
      <label id="label-2" for="input-2"></label>
      <label id="label-3" for="input-3"></label>
      <label id="label-4" for="input-4"></label>
    </div>
  </div>
</body>

</html>