/* .d1{
    height: 500px;
    width: 100%;
    transform: skewY(-3deg);
}

div{
    margin-top: -50px;
    background-color: hotpink;
    
}
div+div{
    background-color: lightskyblue;
    margin-bottom: -100px;
}
div+div+div{
    height: 200px;
    width: 100%;
    background-color: blue;
} */


div{
    width: 100%;
    background-color: black;
    color: white;
}
img{
    width: 70%;
    color: white;
}