<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% load static %}
<!DOCTYPE html>

<html lang="en">

	<title>Login</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<head>

<link rel="icon" href="images/icon.png" type="image/x-icon" />

	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">



		<style>
			body {background: url("{% static 'sp.jpg' %}");
			}
			.container-fluid {padding:50px;}
			.container{background-color:white;padding:50px;   }

}
			.text-uppercase{
			font-family: 'Righteous', cursive;

			}
		.style1 {color: black}
        .style4 {color: #FF00FF; font-weight: bold; }
        .style5 {
	font-family: 'Righteous', cursive;
	color: #FF0000;
	font-weight: bold;
}
        </style>
	</head>
	<body>
	<div class="container-fluid">
		<div >
			<h2 class="style1 text-center" id="title"><strong>SMS Spam detection using TF-IDF and Voting Classifier
</strong></h2>
			 <p class="text-center">
				 </small></span> </p>
 			<hr>
			<div class="row">
				<div class="col-md-5">
 					<form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>
							<p class="text-uppercase pull-center">&nbsp;</p>
					  </fieldset>
					</form>
				</div>

				<div class="col-md-2">
					<!-------null------>
				</div>
				<div>

							<button class="btn btn-lg "><a href="{% url 'serviceproviderlogin' %}">Admin</a></button>
					<button class="btn btn-lg "><a href="{% url 'login' %}">User</a></button>
                                <button class="btn btn-lg "><a href="{% url 'Register1' %}">REGISTER</a></button>
 							</div>

				<div class="col-md-5">
 				 		<form method="POST" role="form">
							{% csrf_token %}

						<fieldset>
                             {% load static %}

							<p class="style5"></p>
<h2>User Login</h2>
							<div class="form-group">
								<input type="text" name="username"   placeholder="User Name" required>
							</div>
							<div class="form-group">
								<input type="password" name="password"   placeholder="Password" required>
							</div>
							<div>
								<input type="submit" name="submit1"  value="sign_in">
							</div></br>




 						</fieldset>
				</form>
				</div>
			</div>
		</div>

	</div>
	</body>


</html>
